/* base.css */
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-weight: bold;
}

p {
    line-height: 1.5;
}
